@charset "UTF-8";
/* CSS Document */
body{
	margin:inherit;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.col img{
	width:100%;
	float:left;
		
}

.col{
	width:31.3%;
	float: left;
	margin:1%;
	
}

nav li {
	float: left;
	margin-bottom: 20px;
	
}
nav ul{
	
	list-style-type: none;
    overflow: hidden;
    background-color: white;
}


.button {
	
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
	padding: 12px 28px; 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	clear:left;
    background: #3498db;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border:none;
}

#party:hover {
	background-color: #3cb0fd;
}
#guidelines{
	background: rgb(223, 117, 20);
}

#guidelines:hover{
	background:orange;
}
a{
	text-decoration: none
}
	
li a{

    color: black;
    text-align: center;
	padding: 10px 12px;	
	font: italic 12px/30px "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:16px
}
a:hover{	
	color: #555555;
	
}

.active a{
	box-shadow: 0 5px 0 tomato;
}

#herobox h1{
	color:whitesmoke;
    text-shadow: 2px 2px 4px #000000;
}

h1{
	text-align: center;
	
}

h4{
	margin-top: 0px;
	text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
	text-align: center;
	color:black;
}

#herobox{
	text-align: center;
	margin-bottom:100px;
	height: 440px;
	background-color: antiquewhite;
	background-image:url(images/FotorCreated2.jpg);
	background-size: cover;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.herobox1{
	max-width: 1024px;
	padding-bottom:100px;
	margin-bottom: 0;
	text-align: center;


}

.ghost-button-thick-border {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  padding: 8px;
  color: white;
  border: 3px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
	justify-content: center;
	text-shadow: 2px 2px 4px #000000;
		
}
.ghost-button-thick-border:hover{
	color:#333;
	text-shadow: none;

}
.box{
	text-align: center;
	margin:100px;
	
}

.button a{
	color:white;
	
}

footer {
	clear:left;
}

footer li{
	display: block
}


p{
	text-align: justify;
}

.list li{
	list-style-type: square;
}

.col-img-left img{
	width:90%;
}

.col-img-left{
	width:50%;
	float:left;
}

.col-img-right img{
	width:90%;
		
}

.col-img-right{
	clear:left;
	width:50%;
	float: right;
	
}

.wrapper{
	text-align: center;
}
.herobox3 p{
	clear: left;
	text-align: center;
}

.herobox3{
	margin-left: auto;
	margin-right: auto;
	max-width:1024px;
	padding-bottom: 50px;
	border-bottom:dashed #555;}

.p-2-col {
	width: 50%;
	float:right
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

#contact {
	margin-left: auto;
	margin-right: auto
}
.col ul li a{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 12px;
}
